* {
  margin: 0;
  /*padding: 0;*/
  box-sizing: border-box;
}

@media all and (max-width: 600px) {
  #container, nav {
    flex-direction: column;
  }
}

.buttons {
  position: relative;
  padding: 1rem 0;
  display: inline-flex;
  justify-content: center;
}

.button {
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #333;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.button.active,
.button:hover {
  color: #1f975d;
  font-weight: 600;
  text-decoration: underline;
}

.prev {
  position: absolute;
  left: -2.5rem;
}

.next {
  position: absolute;
  right: -2.5rem;
}

ion-icon {
  padding-top: 0.05rem;
}
header{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  /*margin-left: 17%;*/
  padding-left: 17.5%;
  padding-right: 30%;
}
.img_logo{
  display: flex;
  margin-right: 50px;
  max-width: 250px;
  border: none;
  margin-top: 25px;
  margin-bottom: 10px;
  /*width: 33px;*/
  height: 30px;
  left: 277px;
  top: 108px;
}
.search {
position: relative;
width: 700px;
height: 50px;
border: none;
display: flex;
margin-top: 20px;
}

.search input {
  width: 200%;
  border: 1px solid #00C473;
  border-radius: 20px;
  padding: 10px 12px;
  font-size: 14px;
}

.search img {
  position : absolute;
  width: 17px;
  top: 17px;
  right: 15px;
  margin: 0;
}


nav{
  display: flex;
  justify-content: start;
  padding-left: 277px;

  /*margin-top: 100px;*/
  /*border-bottom: 2px solid #00C473;*/
  /*padding: 20px;*/
  display: flex;

  width: 100%;
  height: 53px;
  left: 0px;
  top: 169px;

  /*border-bottom: 1px solid #00C473;*/

}

nav a{

  text-decoration: none;
  color: #333333;
  padding: 14px;
  left: 477px;
  top: 169px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;
}

.a2{
  color: #17ac22;
}
nav a:hover{
  color: #00C473;
  cursor: pointer;
}

.content__title:hover{
  text-decoration: underline;
  cursor: pointer;
}


.liner{
  width: 100%;
  height: 0px;
  left: 0px;
  top: 222px;
  /*margin-left: 277px;*/
  /*margin-right: 277px;*/
  border: 1px solid #52E252;
}

.btn_group button{
  border: 1px solid #00C473;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: auto;
  margin: 5px;
  margin-top: 20px;
  text-align: center;
  position: relative;
  left: 563px;
  width: 80px;
  height: 38px;
  font-size: 1em;
}
.btn1{
  /*color: white!important;*/
  /*background-color: #00C473 !important;*/
  color: white;
  background-color: #00C473;
}
.btn_group button:hover{
  color: black;
  background-color: #00C473;
}
.text{
  border: 1px solid #00C473;
  color: white;
  background-color: #00C473;
  border-radius: 5px;
  width: 160px;
  height: 35px;
  text-align: center;
  position: relative;
  left: 65%;
}


.article {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.article2 {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.content {
  display: flex;
  padding: 0.3em 0;
  /*list-style: none;*/
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  flex-direction: column;
  /*width: 1254px;*/
  height: 100px;
  left: 333px;
  top: 455px;
}
.content__matchState,
.content__id,
.content__date {

  /*flex-basis: 10%;*/
}

.content__title {
  font-size: large;
  flex: 40%;
  text-align: left;
  /*overflow: hidden;*/
  white-space: nowrap;
  text-overflow: ellipsis;
  /*padding-left: 10%;*/
  /*width: 700px;*/
  /*height: 30px;*/
  /*left: 333px;*/
  /*top: 455px;*/
}

.content__matchState{
  width: 300px;
  /*flex: 20;*/
  padding-top: 2.77%;
  /*padding-left: 10%;*/
  text-align: left;
  overflow: hidden;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
}
.content__date {
  flex: 10%;
  text-align: right;
  padding-top: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lli{
  display: list-item;
  text-align: -webkit-match-parent;
}

.post_count{
  padding-bottom: 2%;
  padding-right: 75%;
  font-size: larger;
}
.hr2{
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25;
}