.content{
    padding-top: 5px;
}
textarea{
    font-size: 16px;
    width: 500px;
    height: 220px;
    border: 1px solid #dae1e6;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 15px;
}
.btn_group{
    padding-top: 15px;
    width: 1550px;
    margin: auto;
}
.agree{
    border: 1px solid white;
    border-radius: 7px;
    width: 70px;
    height: 35px;
    background-color: #17ac22;
    color: white;
}
.agree:hover{
    background-color: #079e5f;
}
.cancle{
    border: 1px solid white;
    border-radius: 7px;
    width: 70px;
    height: 35px;
}
.cancle:hover{
    background-color: #dae1e6;
}