*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    margin-top: 20px;
    display: flex;
    justify-content: start;
    margin-left: 18.555%;
    margin-right: 30%;
}
.img_logo{
    display: flex;
    margin-right: 50px;
    max-width: 250px;
    border: none;
    margin-top: 25px;
    margin-bottom: 10px;
    /*width: 33px;*/
    height: 30px;
    left: 277px;
    top: 108px;

}

nav{
    display: flex;
    justify-content: start;

    width: 100%;
    height: 53px;

}

.nav1{
    padding-left: 277px;
}
nav a{
    text-decoration: none;
    color: #333333;
    padding: 14px;
    left: 477px;
    top: 169px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;
}

.a3{
    color: #00C473;
}
.nav1 a:hover{
    color: #00C473;
}

.liner{
    width: 100%;
    height: 0px;
    left: 0px;
    top: 222px;

    border: 1px solid #52E252;
}
#container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 24%;
    padding-right: 24%;
    align-items: center;
    text-align: center;
}
.userInfo{
    width: 100%;
    height: 260px;
    padding: 15px 30px;

    border: 2px solid rgba(170, 170, 170, 0.3);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.liner2{
    width: 100%;
    left: 417px;
    top: 627px;

    border: 1px solid rgba(170, 170, 170, 0.3);
}

.nav2{
    width: 100%;
    padding: 0 36% !important;
}
.nav2 a{
    flex: 1 auto;
    align-items: stretch;
    color: #333333;
    padding: 14px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    text-align: center;

    cursor: pointer;
}
.nav2 > .b1{
    color: #00C473;
}
.nav2 > .b2{
    color: black;
}

.nav2 a:hover{
    color: #00C473;
}

.modifyBtn{
    flex: 1 0 0;
    text-align: center;
    color: white;

    width: 140px;
    height: 100%;
    font-size: 16px;

    background: #00C473;
    border-radius: 10px;

}

.modifyBtn:hover{

    border: solid 3px #00C473;
    color: white;
    background-color: #00C473;
}


.major1{
    margin-bottom: 5px;
    height: 35px;
    font-size: 20px;
    padding: 5px 20px;

    background: rgba(170, 170, 170, 0.2);
    border-radius: 10px;
}

table.type03 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    /*margin : 10px 10px;*/

}
table.type03 th {

    margin-left: 610px;
    float: left;
    width: 120px;

    /*height: 27px;*/
    left: 1170px;
    top: 459px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: right;

}
table.type03 td {

    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: center;

    height: 35px;
    padding: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.7);
}

.point{
    width: 50px;
    height: 35px;
    left: 1278px;
    top: 459px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    display: flex;

    align-items: center;
    text-align: center;
}

.postBox{
    height: 400px;
}

.btn-submit {
    width: 150px;
    height: 40px;
    border: solid 3px #00C473;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    cursor: pointer;
    background-color: #00C473;
}
.btn-submit:hover {
    background-color: green;
    border: solid 3px green;
    color: white;
}

.btn-redirect {
    width: 150px;
    height: 40px;
    border: solid 3px #00C473;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    cursor: pointer;
    background-color: #00C473;
}
.btn-redirect:hover {
    background-color: green;
    border: solid 3px green;
    color: white;
}

.content_1 {
    display: flex;
    padding: 0.3em 0;
    /*list-style: none;*/
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    flex-direction: column;
    /*width: 1254px;*/
    height: 100px;
    left: 333px;
    top: 455px;
}
.content__matchState,
.content__id,
.content__date {

    /*flex-basis: 10%;*/
}

.content__title {
    font-size: large;
    flex: 40%;
    text-align: left;
    /*overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    /*padding-left: 10%;*/
    /*width: 700px;*/
    /*height: 30px;*/
    /*left: 333px;*/
    /*top: 455px;*/
}

.content__matchState{
    width: 300px;
    /*flex: 20;*/
    padding-top: 2.77%;
    /*padding-left: 10%;*/
    text-align: left;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
}
.content__date {
    flex: 10%;
    text-align: right;
    padding-top: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.li_1{
    display: list-item;
    text-align: -webkit-match-parent;
}
.content__body {
    font-size: large;
    flex: 5 0;
    text-align: left;
}
.content__btn {
    flex: 1 0;
}
.content_3 {
    display: flex;
    padding: 0.3em 0;
    /*list-style: none;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    flex-direction: row;
}

.content_2 {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    flex-direction: column;
}
.content__postTitle {
    height: 60px;
    font-size: large;
    text-align: left;
    text-overflow: ellipsis;
}
.content__formBtn {
    display: inline-block;
}
.content__postDate {
    flex: 1 auto;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.secondDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
    background: rgba( 211, 211, 211, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 600px;
    height: 500px;
    position: relative;
    top: -100px;
    padding: 10px;
}
#modal .title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: black;

}
#modal .title h2 {
    display: inline;
}
#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#modal .modal-form{
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-top: 20px;
}

#modal .content {
    border: black solid 1px;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    padding: 0 10px;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#modal .modal-header {
    flex: 1 10px;
    margin: 0 20px;
    vertical-align: middle;
}

#modal .modal-body {
    flex: 5 auto;
    border-radius: 10px;
    border: white solid 1px;
    background-color: white;
}

#modal .modal-footer {
    flex: 1 10px;
    align-items: end;
    padding-top: 30px;
}

#Yes{
    background-color: #00C473;
    text-align: center;
    color: white;
    width: 80px;
    height: 100%;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 10px;
}
#Yes:hover{
    border: solid 3px green;
    color: white;
    background-color: green;
}

#No{
    background-color: #C42F14;
    text-align: center;
    color: white;
    width: 80px;
    height: 100%;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 10px;
}
#No:hover{
    border: solid 3px darkred;
    color: white;
    background-color: darkred;
}